<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Gewichterliste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }} ">
</head>
<body>
<!-- navbar von https://getbootstrap.com/docs/5.0/components/navbar/ -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid2">
    <a class="navbar-brand" href="#">PROG2 Nicolas Steiger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('hello_post') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('gewichterliste') }}">Gewichterliste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('matte1') }}">Kämpfe</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="m-5">
    <table class="table table-striped">
        <thead class="thead-dark">
        <th style="width: 10%" scope="col">Gewichtsklasse</th>
        <th style="width: 30%" scope="col">Vorname</th>
        <th style="width: 30%" scope="col">Nachname</th>
        <th style="width: 30%" scope="col">Nationalität</th>
        </thead>
        <tbody>
        {% for eintrag in ringerliste %}
            <tr>
                <td class="vw-2">{{ eintrag[0] }}</td>
                <td>{{ eintrag[1] }}</td>
                <td>{{ eintrag[2] }}</td>
                <td>{{ eintrag[3] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="m-5">
    <a href="{{ url_for('matte1') }}" class="btn btn-success">Kämpfe durchführen</a>
</div>

</body>
</html>