<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matte 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }} ">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid2">
    <a class="navbar-brand" href="#">PROG2 Nicolas Steiger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href=#>Während der Kampfsimulation ist die Navbar deaktiviert!</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="m-5">
    <form method="POST">
    {% if kampfid > 0 and kampfid < 113%}
                {% if buttoneintragen == True %}
      <h1>Runde {{ runde }}</h1>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center bg-danger">{{ ringerrot }}</th>
        <th scope="col" class="text-center">gegen</th>
        <th scope="col" class="text-center bg-primary">{{ ringerblau }}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="number" class="form-control mt-3" id="formGroupExampleInput10" name="punkterot" placeholder="Anzahl Punkte"></td>
        <td></td>
        <td><input type="number" class="form-control mt-3" id="formGroupExampleInput11" name="punkteblau" placeholder="Anzahl Punkte"></td>

      </tr>
      </tbody>
    </table>
    <div class="form-group text-center">
        <input type="submit" class="btn btn-success mt-1" value="daten eintragen" name="dateneintragen">
      {% endif %}    </div>
    </form>
         {% if buttoneintragen == False%}
    <form method="POST" class="col-12 d-flex justify-content-center">
      <input type="submit" class="btn btn-primary mt-1" value="Kampf starten / nächster Kampf" name="kampfinitiieren">
    </form>
      {% endif %} {% endif %}
  </div>
{% if kampfid > 112 %}
<div class="m-5">
    <p>Alle Kämpfe wurden simuliert! Gehen Sie hier zu Rangliste:</p>
     <a href="{{ url_for('rangliste') }}" class="btn btn-success">Rangliste</a>
</div>
{% endif %}
  <h1 class="col-12 text-center mt-5">Kampfhistorie</h1>
<div class="col-12 d-flex justify-content-center" >
    <table class="table table-striped col-6">
        <thead class="thead-dark">
        <th style="width: 10%" scope="col">KampfID</th>
        <th style="width: 40%" class="text-right bg-danger" scope="col">Ringer rot</th>
        <th style="width: 5%" class="text-center bg-danger" scope="col">Punkte rot</th>
        <th style="width: 5%" class="text-center bg-primary" scope="col">Punkte blau</th>
        <th style="width: 40%" class="bg-primary" scope="col">Ringer blau</th>
        </thead>
        <tbody>
        {% for kampf in kampfhistorie %}
            <tr>
                <td>{{ kampf[0] }}</td>
                <td class="text-right">{{ kampf[1] }}</td>
                <td class="text-center">{{ kampf[2] }}</td>
                <td class="text-center">{{ kampf[4] }}</td>
                <td>{{ kampf[3] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</div>
</body>
</html>